// 顏色
$primary_color: #FFA500;
$secondary_color: #FF4D4F;
$tertiary_color: #6BCB77;
$quaternary_color: #FFE066;
$quinary_color: #7d8f52;

$background_primary_color: #F5F5F5;
$background_secondary_color: #F0EAD6;
$background_tertiary_color: #FFFFFF;
$background_quaternary_color: #F8F5EA;

$font_primary_color: #333333;
$font_secondary_color: #FFFFFF;

// 字型
$primary_font-family: 'Noto Sans TC', sans-serif;
$secondary_font-family: 'Oswald', sans-serif;
$tertiary_font-family: 'Roboto', sans-serif;

$banner_font-family: 'Staatliches', sans-serif;
$logo_font-family: 'Anton', sans-serif;
$menu_font-family: 'Bebas Neue', sans-serif;
