@use '../abstracts/variables' as *;

aside {
    background-color: $background_secondary_color;
    padding: 30px 0;

    .menu {
        display: flex;
        justify-content: center;
        text-align: center;

        li+li {
            border-left: 1px solid $secondary_color;
        }

        a,
        button {
            width: 100%;
            display: block;
            padding: 10px 20px;
            font-family: $menu_font-family;
            font-size: 1.8rem;
            color: $secondary_color;

            &:hover {
                color: $tertiary_color;
                transform: translateY(-10%);
            }
        }
    }
}

@media (max-width: 1000px) {
    aside {
        padding: 0;

        .menu {
            flex-direction: column;

            li+li {
                border-left: none;
            }

            a,
            button {
                padding: 20px 0;
                border-bottom: 1px solid $background_primary_color;

                &:hover {
                    transform: translateY(0);
                }
            }
        }
    }
}