@use '../abstracts/variables' as *;
;

.email,
.password,
.passwordConfirm,
.name,
.phone,
.birthday {
    position: relative;

    input {
        width: 100%;
        padding: 0.8rem 1rem;
        border: 1px solid $background_secondary_color;
        border-radius: 10px;
        font-size: 1rem;
        background-color: $background_tertiary_color;
        transition: all 0.3s ease;
        text-indent: 10%;

        &:focus {
            border-color: $secondary_color;
            outline: none;
            box-shadow: 0 0 6px rgba($secondary_color, 0.3);
        }
    }

    .inputIcon {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
    }

    .eyeIcon {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
    }

}

.passwordInput {
    .passwordConfirm {
        margin: 6px 0;
    }

    .matchTip {
        display: flex;
        flex-direction: column;
        gap: 3px;

        .circle-exclamation {
            color: $primary_color !important;
        }

        .circle-check {
            color: $tertiary_color;
        }

        .circle-xmark {
            color: $secondary_color;
        }
    }
}

.verifyInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    ::v-deep(.my-otp) {
        display: flex;
        gap: 1rem;

        input {
            width: 60px;
            height: 60px;
            font-size: 1.4rem;
            text-align: center;
            background-color: $background_tertiary_color;
            border: 1px solid $background_secondary_color;
            border-radius: 8px;
            transition: border-color 0.3s;

            &:focus {
                border-color: $secondary_color;
                outline: none;
                box-shadow: 0 0 6px rgba($secondary_color, 0.3);
            }
        }
    }
}

.terms {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
        margin-right: 0.5rem;
        accent-color: $quaternary_color;
    }

    label {
        font-weight: normal;
        color: $font_primary_color;

        a {
            color: $secondary_color;

            &:hover {
                color: $primary_color;
            }
        }
    }
}

label {
    font-size: 1rem;
    font-weight: bold;
    color: $font_primary_color;
    margin-bottom: 0.3rem;
    display: inline-block;
}