@use '../abstracts/variables' as *;

.search {
    max-width: 1000px;
    display: flex;
    position: relative;
    margin: 0 auto;

    .searchInput {
        width: 60%;
        height: 56px;
        font-size: 20px;
        border: 1px solid $secondary-color;
        border-radius: 40px;
        padding: 16px 48px 16px 60px;

        &:focus {
            border-color: $secondary_color;
            box-shadow: 0 0 10px rgba($secondary_color, 0.3);
        }
    }

    .searchIcon {
        font-size: 24px;
        color: $secondary-color;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    }
}

@media (max-width: 750px) {
    .search {
        .searchInput {
            width: 100%;
        }
    }
}